<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Endereço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Informe o ID do cliente:</ion-label>
    <ion-input [(ngModel)]="endereco.id_cliente" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descrição:</ion-label>
    <ion-input [(ngModel)]="endereco.descricao" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rua:</ion-label>
    <ion-input [(ngModel)]="endereco.rua" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Número:</ion-label>
    <ion-input [(ngModel)]="endereco.numero" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Bairro:</ion-label>
    <ion-input [(ngModel)]="endereco.bairro" type="text"></ion-input>
  </ion-item>
  <ion-label position="floating">CEP:</ion-label>
    <ion-input [(ngModel)]="endereco.cep" type="text"></ion-input>
  </ion-item>
  <ion-label position="floating">Complemento:</ion-label>
    <ion-input [(ngModel)]="endereco.complemento" type="text"></ion-input>
  </ion-item>
  <ion-label position="floating">Cidade:</ion-label>
    <ion-input [(ngModel)]="endereco.cidade" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">UF:</ion-label>
      <ion-select [(ngModel)]="endereco.uf">
        <ion-select-option value="AC">AC</ion-select-option>
        <ion-select-option value="AL">AL</ion-select-option>
        <ion-select-option value="AP">AP</ion-select-option>
        <ion-select-option value="AM">AM</ion-select-option>
        <ion-select-option value="BA">BA</ion-select-option>
        <ion-select-option value="CE">CE</ion-select-option>
        <ion-select-option value="DF">DF</ion-select-option>
        <ion-select-option value="ES">ES</ion-select-option>
        <ion-select-option value="GO">GO</ion-select-option>
        <ion-select-option value="MA">MA</ion-select-option>
        <ion-select-option value="MT">MT</ion-select-option>
        <ion-select-option value="MS">MS</ion-select-option>
        <ion-select-option value="MG">MG</ion-select-option>
        <ion-select-option value="PA">PA</ion-select-option>
        <ion-select-option value="PB">PB</ion-select-option>
        <ion-select-option value="PR">PR</ion-select-option>
        <ion-select-option value="PE">PE</ion-select-option>
        <ion-select-option value="PI">PI</ion-select-option>
        <ion-select-option value="RR">RR</ion-select-option>
        <ion-select-option value="RO">RO</ion-select-option>
        <ion-select-option value="RJ">RJ</ion-select-option>
        <ion-select-option value="RN">RN</ion-select-option>
        <ion-select-option value="RS">RS</ion-select-option>
        <ion-select-option value="SC">SC</ion-select-option>
        <ion-select-option value="SP">SP</ion-select-option>
        <ion-select-option value="SE">SE</ion-select-option>
        <ion-select-option value="TO">TO</ion-select-option>
      </ion-select>
  </ion-item>
  <div>
    <ion-button (click)="cadastrar()" expand="block" class="salvar">SALVAR</ion-button>
    <ion-button expand="block" class="salvar">RESETAR</ion-button>
  </div>

</ion-content>