<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label position="floating">Id_cliente</ion-label>
    <ion-input [(ngModel)]="pedido.id_cliente" type="number" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Data do Pedido</ion-label>
    <ion-input [(ngModel)]="pedido.data_pedido" type="date" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Previsão de entrega</ion-label>
    <ion-input [(ngModel)]="pedido.previsao_entrega" type="date" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Forma de pagamento</ion-label>
      <ion-select [(ngModel)]="pedido.forma_pagamento">
        <ion-select-option value="À vista">À vista</ion-select-option>
        <ion-select-option value="Pix">Pix</ion-select-option>
        <ion-select-option value="À vista - Boleto">À vista - Boleto</ion-select-option>
        <ion-select-option value="À vista - Débito">À vista - Débito</ion-select-option>
        <ion-select-option value="1 x Crédito (5% de desconto)">1 x Crédito (5% de desconto)</ion-select-option>
        <ion-select-option value="3 x Crédito (2% de desconto)">3 x Crédito (2% de desconto)</ion-select-option>
        <ion-select-option value="12 x Crédito (sem juros)">12 x Crédito (sem juros)</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Observações</ion-label>
    <ion-input [(ngModel)]="pedido.observacoes" type="text" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Status</ion-label>
    <ion-select [(ngModel)]="pedido.status">
      <ion-select-option value="Aguardando pagamento'">Aguardando pagamento'</ion-select-option>
      <ion-select-option value="Pagamento confirmado">Pagamento confirmado</ion-select-option>
      <ion-select-option value="Preparação de envio">Preparação de envio</ion-select-option>
      <ion-select-option value="Em transporte">Em transporte</ion-select-option>
      <ion-select-option value="Pedido entregue">Pedido entregue</ion-select-option>
      <ion-select-option value="Devolução">Devolução</ion-select-option>
      <ion-select-option value="Em análise">Em análise</ion-select-option>
      <ion-select-option value="Cancelado">Cancelado</ion-select-option>
    </ion-select>
  </ion-item>

  <div>
    <ion-button (click)="cadastrar()" expand="block" class="salvar">SALVAR</ion-button>
    <ion-button expand="block" class="salvar">RESETAR</ion-button>
  </div>
</ion-content>