<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none"> 
    <ion-label position="floating">Informe o título</ion-label>
    <ion-input [(ngModel)]="livro.titulo" type="text" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Informe o número de páginas</ion-label>
    <ion-input [(ngModel)]="livro.pagina" type="number" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Informe o idioma</ion-label>
    <ion-input [(ngModel)]="livro.idioma" type="text" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Informe sua data de lançamento</ion-label>
    <ion-input [(ngModel)]="livro.anoPublicacao" type="date" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Informe a edição</ion-label>
    <ion-input [(ngModel)]="livro.edicao" type="text" required="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Informe o preço</ion-label>
    <ion-input [(ngModel)]="livro.preco" type="text" required="true">R$</ion-input>
  </ion-item>
  <ion-item lines="none"> 
    <ion-label position="floating">Informe a descrfição</ion-label>
    <ion-input [(ngModel)]="livro.descricao" type="text" required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Informe o id do autor</ion-label>
    <ion-input [(ngModel)]="livro.id_autor" type="number" required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Informe o id do editor</ion-label>
    <ion-input [(ngModel)]="livro.id_editora" type="number" required="true"></ion-input>
  </ion-item>
  <div>
    <ion-button (click)="cadastrar()" expand="block" class="salvar">SALVAR</ion-button>
    <ion-button expand="block" class="salvar">RESETAR</ion-button>
  </div>
</ion-content>