<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro do Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding" >
  <ion-item>
    <ion-label position="floating">Informe o seu nome</ion-label>
    <ion-input [(ngModel)]="autor.nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Selecione sua Nacionalidade</ion-label>
      <ion-select [(ngModel)]="autor.nacionalidade">
        <ion-select-option value="a">Argentina</ion-select-option>
        <ion-select-option value="b">Bolivia</ion-select-option>
        <ion-select-option value="ba">Brasil</ion-select-option>
        <ion-select-option value="ch">Chile</ion-select-option>
        <ion-select-option value="co">Colombia</ion-select-option>
        <ion-select-option value="e">Equador</ion-select-option>
        <ion-select-option value="g">Guiana</ion-select-option>
        <ion-select-option value="p">Paraguai</ion-select-option>
        <ion-select-option value="Pe">Peru</ion-select-option>
        <ion-select-option value="S">Suriname</ion-select-option>
        <ion-select-option value="U">Uruguai</ion-select-option>
        <ion-select-option value="V">Venezuela</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Selecione o seu sexo</ion-label>
      <ion-select [(ngModel)]="autor.sexo">
        <ion-select-option value="f">Feminino</ion-select-option>
        <ion-select-option value="m">Masculino</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Informe sua data de nascimento</ion-label>
    <ion-input [(ngModel)]="autor.dataNascimento" type="date" placeholder=""></ion-input>
  </ion-item>
  <div>
    <ion-button (click)="cadastrar()" expand="block" class="salvar">SALVAR</ion-button>
    <ion-button expand="block" class="salvar">RESETAR</ion-button>
  </div>

</ion-content>
