<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      MIYAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-img [src]="logo_miyas"></ion-img>
  <ion-button expand="full" *ngFor="let rota of rotas" [routerLink]="rota.path">
    {{ rota.text }}
  </ion-button>
  
</ion-content>
