#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-button{
  --background: #7A70FA;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #494949;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content{
  --background:#D266E3
}
ion-toolbar{
  --background:#D266E3
}