<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Funcionário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding" >
  <ion-item lines="none">
    <ion-label position="floating">Salário:</ion-label>
    <ion-input [(ngModel)]="funcionario.salario" type="text" required="true">R$</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data de admissão:</ion-label>
    <ion-input [(ngModel)]="funcionario.data_admissao" type="date" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Informe seu cargo:</ion-label>
      <ion-select [(ngModel)]="funcionario.cargo">
        <ion-select-option value="Atendente">Atendente</ion-select-option>
        <ion-select-option value="Repositor">Repositor</ion-select-option>
        <ion-select-option value="Logistica">Logistica</ion-select-option>
        <ion-select-option value="Gestor">Gestor</ion-select-option>
      </ion-select>
  </ion-item>
  <div>
    <ion-button (click)="cadastrar()" expand="block" class="salvar">SALVAR</ion-button>
    <ion-button expand="block" class="salvar">RESETAR</ion-button>
  </div>

</ion-content>
