<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro da Editora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Informe o nome da Editora</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Informe o endereço</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Informe o bairro</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Insira o CEP</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Informe a cidade</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Selecione o estado</ion-label>
      <ion-select>
        <ion-select-option value="AC">AC</ion-select-option>
        <ion-select-option value="AL">AL</ion-select-option>
        <ion-select-option value="AP">AP</ion-select-option>
        <ion-select-option value="AM">AM</ion-select-option>
        <ion-select-option value="BA">BA</ion-select-option>
        <ion-select-option value="CE">CE</ion-select-option>
        <ion-select-option value="DF">DF</ion-select-option>
        <ion-select-option value="ES">ES</ion-select-option>
        <ion-select-option value="GO">GO</ion-select-option>
        <ion-select-option value="MA">MA</ion-select-option>
        <ion-select-option value="MT">MT</ion-select-option>
        <ion-select-option value="MS">MS</ion-select-option>
        <ion-select-option value="MG">MG</ion-select-option>
        <ion-select-option value="PA">PA</ion-select-option>
        <ion-select-option value="PB">PB</ion-select-option>
        <ion-select-option value="PR">PR</ion-select-option>
        <ion-select-option value="PE">PE</ion-select-option>
        <ion-select-option value="PI">PI</ion-select-option>
        <ion-select-option value="RR">RR</ion-select-option>
        <ion-select-option value="RO">RO</ion-select-option>
        <ion-select-option value="RJ">RJ</ion-select-option>
        <ion-select-option value="RN">RN</ion-select-option>
        <ion-select-option value="RS">RS</ion-select-option>
        <ion-select-option value="SC">SC</ion-select-option>
        <ion-select-option value="SP">SP</ion-select-option>
        <ion-select-option value="SE">SE</ion-select-option>
        <ion-select-option value="TO">TO</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-button expand="block" routerLink="/home" class="salvar">CONFIRMAR</ion-button>
</ion-content>
